main {
  padding: 15px 23px 0;
}

.filter-chats-input {
  margin-bottom: 8px;
}

.chat-tab-panel.chat-tab-panel {
  padding: 0;
}

.chat-tab-panel > .MuiList-root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-tab-loading-icon {
  margin-top: 15px;
}

.chat-row.chat-row {
  width: 100%;
  /* padding: 7px 0; */
}
.chat-row > .MuiListItem-root {
  padding: 7px 0;
}

.chat-log {
  width: 100%;
}

.chat-log-toolbar.chat-log-toolbar {
  padding: 2px 16px 0 10px;
}

.message-preview {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
