main {
  padding: 15px 23px 0;
}

.filter-chats-input {
  margin-bottom: 8px;
}

.chat-tab-panel.chat-tab-panel {
  padding: 0;
}

.chat-tab-panel > .MuiList-root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-tab-loading-icon {
  margin-top: 15px;
}

.chat-row.chat-row {
  width: 100%;
  /* padding: 7px 0; */
}
.chat-row > .MuiListItem-root {
  padding: 7px 0;
}

.chat-log {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat-log-toolbar.chat-log-toolbar {
  /* gap: 7px; */
  padding: 2px 16px 0 10px;
}

.chat-log-toolbar-avatar {
  margin-right: 11px;
}

.chat-log-messages {
  display: flex;
  flex-direction: column-reverse;
  padding: 75px 17px 77px;
  overflow: auto;
}

.chat-log-bottom {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 15px;
  background-color: #353535;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); */
  box-sizing: border-box;
}

.chat-log-bottom > * {
  max-height: 45px;
}

.chat-log-bottom > .MuiIconButton-root {
  width: 45px;
  height: 45px;
}

.chat-log-attach-image-button.chat-log-attach-image-button {
  border: 1px solid #fff;
}

.chat-log-message-input > .MuiOutlinedInput-root {
  border-radius: 99999px;
}

.chat-log-message-input > * {
  max-height: inherit;
}

.chat-log-send-icon.MuiIconButton-root,
.chat-log-send-icon.MuiIconButton-root:hover {
  background-color: #2196f3;
}

.chat-message {
  display: flex;
}
.chat-message:not(:last-of-type) {
  margin-top: 4px;
}

.incoming-message {
  justify-content: flex-start;
}
.outgoing-message {
  justify-content: flex-end;
}

.incoming-message + .outgoing-message,
.outgoing-message + .incoming-message {
  margin-bottom: 15px;
}

.chat-message-content {
  width: max-content;
  max-width: 80%;
  padding: 9px 12px 8px;
  border-radius: 17px;
  font-size: 18px;
  line-height: 1.3;
}

.incoming-message > .chat-message-content {
  left: 0;
  border-bottom-left-radius: 0;
  background-color: #ddd;
  color: #000;
}
.incoming-message + .incoming-message > .chat-message-content {
  /* border-top-left-radius: 0; */
}

.outgoing-message > .chat-message-content {
  right: 0;
  border-bottom-right-radius: 0;
  background-color: #2196f3;
  color: #fff;
}
.outgoing-message + .outgoing-message > .chat-message-content {
  /* border-top-right-radius: 0; */
}

.automated-reply-notice {
  /* text-align: right; */
  margin-top: 2px;
  font-size: 14px;
  opacity: 0.7;
}

.message-preview {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
