main {
  padding: 15px 23px 0;
}

.filter-chats-input {
  margin-bottom: 8px;
}

.chat-tab-panel.chat-tab-panel {
  padding: 0;
}

.chat-tab-panel > .MuiList-root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-tab-loading-icon {
  margin-top: 15px;
}

.chat-row.chat-row {
  width: 100%;
  /* padding: 7px 0; */
}
.chat-row > .MuiListItem-root {
  padding: 7px 0;
}

.chat-log {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat-log-toolbar.chat-log-toolbar {
  padding: 2px 16px 0 10px;
}

.chat-log-bottom {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.chat-log-bottom > * {
  max-height: 45px;
}

.chat-log-bottom > .MuiIconButton-root {
  width: 45px;
  height: 45px;
}

.chat-log-attach-image-button.chat-log-attach-image-button {
  border: 1px solid #fff;
}

.chat-log-message-input > .MuiOutlinedInput-root {
  border-radius: 99999px;
}

.chat-log-message-input > * {
  max-height: inherit;
}

.message-preview {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
